<mat-toolbar color="primary">
  <mat-icon aria-hidden="false" aria-label="Example home icon">people</mat-icon>
  <span>Customer Manager</span>

  <ul class="nav">
    <li class="nav-item"><a mat-button routerLink="/customers" routerLinkActive="active">Customers</a></li>
    <li class="nav-item"><a mat-button routerLink="/orders" routerLinkActive="active">Orders</a></li>
    <li class="nav-item"><a mat-button routerLink="/about" routerLinkActive="active">About</a></li>
    <li class="nav-item"><a mat-button routerLink="/login" routerLinkActive="active">Login</a></li>
  </ul>
</mat-toolbar>