.filter {
  max-width: 200px;
  width: 100%;
  min-width: 150px;
  margin-left: auto;
}

.action-bar {
  display: flex;
}

.filter-field {
  width: 100%;
}

button.active-view {
  font-weight: bold;
}

.action-bar {
  button {
    font-weight: normal;
  }
}